{% extends "base.html" %}


{% block js %}
    <script type=text/javascript>

    $.ajaxSetup ({
        cache: false
    });  

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function getData()
    {
     $.getJSON(
        $SCRIPT_ROOT + '/get_availability',
        function(data)
        {
            if (data) {
                $("#avail_status").text("available!");
            } else { 
                $("#avail_status").text("not available :(");
            }
        }
     );
    }

    setInterval(getData, 1000);

    </script>

{% endblock %}


{% block main %}

    <h1>THIS IS SPOT</h1>
    <p>Your spot is <span id="avail_status"></span>


{% endblock %}
