{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="../static/css/custom.css">
{% endblock %}

{% block js %}
    <script type=text/javascript>

    $.ajaxSetup ({
        cache: false
    });  

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function getData()
    {
     $.getJSON(
        $SCRIPT_ROOT + '/get_parking_updates',
        function(data)
        {

            $("#time_remaining").text(data['time_left']);
        }
     );
    }

    setInterval(getData, 1000);

    mapboxgl.accessToken = 'pk.eyJ1Ijoic29raWMiLCJhIjoiY2l0N3doaTZ1MGF1ZjJ6bXdkdzIyb3N4MiJ9.F7fsAP4czc7b23oqBML7JA';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});

    </script>

{% endblock %}


{% block main %}
	<div id='map'></div>
    <div id="main-box--parked">
        <div id="main-box-top">
                <p><i class="fa fa-map-marker address-icon" aria-hidden="true"></i>98 Edicott Street, Cambridge, MA</p>
                <button type="button" class="btn direction-button direction-button"><i class="fa fa-map-signs map-nav-icon" aria-hidden="true"></i>Get directions back to this spot</button>
        </div>
        <div id="main-box-middle--parked">
            <div class="row1">
                <div><i class="fa fa-2x fa-car" aria-hidden="true"></i></div>
                <div>
	                <p><span class="medium-search-detail">METER</span></p>
	                <p><span class="large-search-detail">{{ meter_val }}</span></p>
	                <p><span class="small-search-detail">{{ time_used }} @ $2.00/HR</span></p>
	            </div>
            </div>
            <div class="row2">
                <div><i class="fa fa-2x fa-clock-o" aria-hidden="true"></i></div>
                <div>
	                <p><span class="medium-search-detail">MAX TIME REMAINING</span></p>
	                <p><span class="large-search-detail" id="time_remaining">{{ time_remaining }}</span></p>
	                <p><span class="small-search-detail">OF 2 HOUR LIMIT</span></p>
	            </div>
            </div>
            
        </div>
        <div id="main-box-bottom--parked">
        	<p class="main-box-middle--note">Administered by the City of Cambridge</p>
        </div>
        <div id="main-box-bottom2--parked">
        	<p class="meter-on-note">Meter On</p>
        	<p class="main-box-middle--note">Leave parking spot to stop meter.</p>
        </div>
    </div>
{% endblock %}


    <p>Your spot is <span id="avail_status"></span>